body {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/sfondoCarrello.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/sfondoCarrello.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/sfondoCarrello.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/sfondoCarrello.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;


    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
}


.my-header {
    text-align: left;
    margin: auto;
    margin-bottom: 1em;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);

}

    .my-header .titolo {
        margin: 0.3em;
        font-size: 4em;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 0.1em;
        width: 100%;
        color:  rgba(255, 255, 255, 0.6);
    }

    @keyframes cart {
            10% { transform: rotateZ(-45deg); }
            50%{ transform: translateX(500px); }
            90% {transform: rotateZ(45deg);}
    }


    .my-header .titolo .icon {
        color:  rgba(255, 255, 255, 0.3);
    }

    .cart-moving {
        animation-name: cart;
        animation-duration: 4s;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }

main {
    margin-top: 4em;
    margin-bottom: 4em;
}

 @media (min-width: 768px) {
    main .pannello-prodotti {
        margin-bottom: 4em;
    }
}

main .design-pannello-prodotti {

}

main .pannello-prodotti {
  text-align: left;
}

    main .pannello-prodotti .prodotto {
        margin-bottom: 1em;
        overflow: hidden;
        background: #444;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 15px;
        transition: background 0.2s ease-in-out;
    }

    main .pannello-prodotti .prodotto:hover {
        background: #444;
        background: rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 768px) {
        main .pannello-prodotti .prodotto {
            text-align: center;
            padding: 2em;
        }
    }
        main .pannello-prodotti .prodotto .pannello-photo {
            display: flex;
            align-items: center;
            align-content: center;
            margin: 0;
            padding: 0;
            min-height: 15em;
        }

            main .pannello-prodotti .prodotto .pannello-photo .photo {
                margin: 0;
                width: 100%;
                max-width: 100%;
                margin: auto;
                transition: transform 1s ease-in-out;
            }

            main .pannello-prodotti .prodotto .pannello-photo .photo:hover {
                transform: rotateX(90deg) rotateY(90deg);
            }

            @media (max-width: 768px) {
                main .pannello-prodotti .prodotto .pannello-photo .photo {
                    width: 100%;
                    max-width: 50%;
                    margin: auto;
                }
            }

        main .pannello-prodotti .prodotto .descrizione {
            text-align: left;
        }

        main .pannello-prodotti .prodotto .descrizione .quantity-field {
            width: 50%;
            background: #444;
            background: rgba(0, 0, 0, 0.25);
        }

        main .pannello-prodotti .prodotto .descrizione .subtotal, .price {
            padding: 0.3em;
        }

         main .pannello-prodotti .prodotto .descrizione  button.btn {
            margin-top: 0.8em;
        }



main .pannello-carrello {


}

main .carrello {
    margin: 0 1em 1em 1em;
    overflow: hidden;
    background: #444;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 15px;
    transition: background 0.2s ease-in-out;
}

main .carrello h2 {
    font-size: 3em;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0.1em;
    width: 100%;
    color:  rgba(255, 255, 255, 0.6);
    padding-bottom: 0.3em;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.8);
    border-bottom-width: 1px;
}

    main .carrello .summary-total-items, main .carrello .total-items {
        font-size: 1.5em;
        padding-right: 0.2em;
        margin-bottom: 0.5em;
    }

    main .carrello .subtotal-title, main .carrello .total-title {
        font-size: 1.7em;
    }

    main .carrello .subtotal-value, main .carrello .total-value {
        font-size: 1.5em;
    }

    main .carrello .summary-delivery-selection {
        font-size: 1.1em;
        overflow: hidden;
        background: transparent;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        border-color: transparent;
        margin: 0.5em;
        height: 2em;
        color: rgba(255, 255, 255, 0.8);
    }

    main .carrello .checkout-cta {
        margin: 1em;
    }



button.btn {
    margin: 0;
    padding: 0 7px;
    vertical-align: middle;
    background: #de6222;
    border: 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 2.5em;
    color: #fff;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover {
    opacity: 0.6; color: #fff;
}

button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }
