.footer {
    padding: 2em 0 1em 0 ;
    background-color: #1d242a;
    text-align: center;
    opacity: 0.9;
    min-height: 15em;
}

    .footer ol {
        list-style: decimal;
        margin: 0 0 2em 0;
        padding-left: 1.25em;
    }

        .footer ol li {
            padding-left: 0.25em;
        }

    .footer ul {
        list-style: disc;
        margin: 0 0 2em 0;
        padding-left: 1em;
    }

        .footer ul li {
            padding-left: 0.5em;
        }


    .footer ul.icons {
            cursor: default;
            list-style: none;
            padding-left: 0;
        }

            .footer ul.icons li {
                display: inline-block;
                padding: 0 1em 0 0;
            }

	            /* Icon */
				.footer ul.icons li .icon {
				    text-decoration: none !important;
				    border-bottom: none;
				    position: relative;
				}

				.footer ul.icons li a.icon:before {
				    -moz-osx-font-smoothing: grayscale;
				    -webkit-font-smoothing: antialiased;
				    font-family: FontAwesome;
				    font-style: normal;
				    font-weight: normal;
				    text-transform: none !important;
				    font-size: 1.5em;
				}

				.footer ul.icons li a.icon > .label {
				    display: none;
				}



                .footer ul.icons li:last-child {
                    padding-right: 0 !important;
                }

            .footer ul.icons.major {
                padding: 1em 0;
            }

                .footer ul.icons.major li {
                    padding-right: 3.5em;
                }

                    @media screen and (max-width: 736px) {

                        .footer ul.icons.major li {
                            padding: 0 1em !important;
                        }

                    }

    .footer .icons {
        font-size: 1.25em;
        margin-top: 1em;
    }

        .footer .icons a {
            color: rgba(255, 255, 255, 0.5);
            -moz-transition: color 0.5s ease, border-bottom-color 0.5s ease;
            -webkit-transition: color 0.5s ease, border-bottom-color 0.5s ease;
            -ms-transition: color 0.5s ease, border-bottom-color 0.5s ease;
            transition: color 0.5s ease, border-bottom-color 0.5s ease;
        }
            .footer .icons a:hover {
                color: #fff;
            }

    .footer .copyright {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.2em;
        letter-spacing: 0.225em;
        list-style: none;
        padding-top: 1.8em;
        text-transform: uppercase;
    }

        .footer .copyright li {
            border-left: solid 1px rgba(255, 255, 255, 0.5);
            display: inline-block;
            line-height: 1em;
            margin-left: 1em;
            padding-left: 1em;
        }

            .footer .copyright li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            .footer .copyright li a {
                color: inherit;
            }

                .footer .copyright li a:hover {
                    color: #fff;
                }
