/* Footer */

a {
		
	}

#footer {
	padding: 2em 0 1em 0 ;
	background-color: #1d242a;
	text-align: center;
}

	#footer ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		#footer ol li {
			padding-left: 0.25em;
		}

	#footer ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		#footer ul li {
			padding-left: 0.5em;
		}


	#footer ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			#footer ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				#footer ul.icons li:last-child {
					padding-right: 0 !important;
				}

			#footer ul.icons.major {
				padding: 1em 0;
			}

				#footer ul.icons.major li {
					padding-right: 3.5em;
				}

					@media screen and (max-width: 736px) {

						#footer ul.icons.major li {
							padding: 0 1em !important;
						}

					}

	#footer .icons {
		font-size: 1.25em;
	}

		#footer .icons a {
			color: rgba(255, 255, 255, 0.5);
			-moz-transition: color 0.5s ease, border-bottom-color 0.5s ease;
			-webkit-transition: color 0.5s ease, border-bottom-color 0.5s ease;
			-ms-transition: color 0.5s ease, border-bottom-color 0.5s ease;
			transition: color 0.5s ease, border-bottom-color 0.5s ease;
		}
			#footer .icons a:hover {
				color: #fff;
			}

	#footer .copyright {
		color: rgba(255, 255, 255, 0.5);
		font-size: 0.8em;
		letter-spacing: 0.225em;
		list-style: none;
		padding: 0;
		text-transform: uppercase;
	}

		#footer .copyright li {
			border-left: solid 1px rgba(255, 255, 255, 0.5);
			display: inline-block;
			line-height: 1em;
			margin-left: 1em;
			padding-left: 1em;
		}

			#footer .copyright li:first-child {
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
			}

			#footer .copyright li a {
				color: inherit;
			}

				#footer .copyright li a:hover {
					color: #fff;
				}

			@media screen and (max-width: 480px) {

				#footer .copyright li {
					border: 0;
					display: block;
					line-height: 1.65em;
					margin: 0;
					padding: 0.5em 0;
				}

			}

	@media screen and (max-width: 980px) {

		#footer {
			padding: 4em 3em 2em 3em ;
		}

	}

	@media screen and (max-width: 736px) {

		#footer {
			padding: 3em 2em 1em 2em ;
		}

	}

	/* Icon */

.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}

.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

.icon > .label {
	display: none;
}

.icon.major {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-radius: 3px;
	border: solid 2px #fff;
	display: inline-block;
	font-size: 1.35em;
	height: calc(3em + 2px);
	line-height: 3em;
	text-align: center;
	width: calc(3em + 2px);
}

	.icon.major:before {
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		display: inline-block;
		font-size: 1.5em;
	}

	@media screen and (max-width: 736px) {

		.icon.major {
			font-size: 1em;
		}

	}

.icon.style1 {
	color: #00ffcc;
}

.icon.style2 {
	color: #00f0ff;
}

.icon.style3 {
	color: #76ddff;
}