/* form */


		form {
			margin: 0 0 2em 0;
		}

		label {
			color: #fff;
			display: block;
			font-size: 0.9em;
			font-weight: 600;
			margin: 0 0 1em 0;
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		select,
		textarea {
			-moz-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			appearance: none;
			background: rgba(144, 144, 144, 0.25);
			border-radius: 3px;
			border: none;
			color: inherit;
			display: block;
			outline: 0;
			padding: 0 1em;
			text-decoration: none;
			width: 100%;
		}

			input[type="text"]:invalid,
			input[type="password"]:invalid,
			input[type="email"]:invalid,
			select:invalid,
			textarea:invalid {
				box-shadow: none;
			}

			input[type="text"]:focus,
			input[type="password"]:focus,
			input[type="email"]:focus,
			select:focus,
			textarea:focus {
				box-shadow: 0 0 0 2px #ed4933;
			}

		.select-wrapper {
			text-decoration: none;
			display: block;
			position: relative;
		}

			.select-wrapper:before {
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			.select-wrapper:before {
				-moz-pointer-events: none;
				-webkit-pointer-events: none;
				-ms-pointer-events: none;
				pointer-events: none;
				color: #fff;
				content: '\f078';
				display: block;
				height: 2.75em;
				line-height: 2.75em;
				position: absolute;
				right: 0;
				text-align: center;
				top: 0;
				width: 2.75em;
			}

			.select-wrapper select::-ms-expand {
				display: none;
			}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		select {
			height: 2.75em;
		}

		textarea {
			padding: 0.75em 1em;
		}

		input[type="checkbox"],
		input[type="radio"] {
			-moz-appearance: none;
			-webkit-appearance: none;
			-ms-appearance: none;
			appearance: none;
			display: block;
			float: left;
			margin-right: -2em;
			opacity: 0;
			width: 1em;
			z-index: -1;
		}

			input[type="checkbox"] + label,
			input[type="radio"] + label {
				text-decoration: none;
				color: #fff;
				cursor: pointer;
				display: inline-block;
				font-size: 1em;
				font-weight: 400;
				padding-left: 2.4em;
				padding-right: 0.75em;
				position: relative;
			}

				input[type="checkbox"] + label:before,
				input[type="radio"] + label:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					font-family: FontAwesome;
					font-style: normal;
					font-weight: normal;
					text-transform: none !important;
				}

				input[type="checkbox"] + label:before,
				input[type="radio"] + label:before {
					background: rgba(144, 144, 144, 0.25);
					border-radius: 3px;
					content: '';
					display: inline-block;
					height: 1.65em;
					left: 0;
					line-height: 1.58125em;
					position: absolute;
					text-align: center;
					top: 0;
					width: 1.65em;
				}

			input[type="checkbox"]:checked + label:before,
			input[type="radio"]:checked + label:before {
				background: #2e3842;
				color: #fff;
				content: '\f00c';
			}

			input[type="checkbox"]:focus + label:before,
			input[type="radio"]:focus + label:before {
				box-shadow: 0 0 0 2px #ed4933;
			}

		input[type="checkbox"] + label:before {
			border-radius: 3px;
		}

		input[type="radio"] + label:before {
			border-radius: 100%;
		}

		::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
			opacity: 1.0;
		}

		:-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
			opacity: 1.0;
		}

		::-moz-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
			opacity: 1.0;
		}

		:-ms-input-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
			opacity: 1.0;
		}

		.formerize-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
			opacity: 1.0;
		}

/* Wrapper */

	.wrapper {
		padding: 6em 0 4em 0 ;
		box-shadow: 5px 5px 30px 0px black;
	}
		.wrapper > .inner {
			width: 60em;
			margin: 0 auto;
		}

			@media screen and (max-width: 1280px) {
				.wrapper > .inner {
					width: 90%;
				}
			}

			@media screen and (max-width: 980px) {
				.wrapper > .inner {
					width: 100%;
				}
			}

		.wrapper.alt {
			padding: 0;
		}

		.wrapper.style2 {
			background-color: rgba(46, 56, 66, 0.7);
		}

		.wrapper.style3 {
			background-color: #FF6D00; /* #505393*/
			color: #d3d4e4;
		}	

		.wrapper.style4 {
			background-color: transparent;
		}
/* Spotlight */

	.spotlight {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
	}

		.spotlight .image {
			-moz-order: 1;
			-webkit-order: 1;
			-ms-order: 1;
			order: 1;
			width: 40%;
		}

			.spotlight .image img {
				/* transition: 0.15s ease-in-out; */
				width: 100%
			}

			/* .spotlight .image img:hover {
				box-shadow: 5px 5px 30px 0px black;
				transform: translate3d(5px, 5px, 3px);
				width: 100%
			} */


		.spotlight .content {
			padding: 2em 4em 0.1em 4em ;
			-moz-order: 2;
			-webkit-order: 2;
			-ms-order: 2;
			order: 2;
			max-width: 48em;
			width: 60%;
		}

		.spotlight:nth-child(2n) {
			-moz-flex-direction: row-reverse;
			-webkit-flex-direction: row-reverse;
			-ms-flex-direction: row-reverse;
			flex-direction: row-reverse;
		}

		/* .spotlight:nth-child(2n) .image img:hover {
				box-shadow: 5px 5px 30px 0px black;
				transform: translate3d(-5px, 5px, 3px);
				width: 100%
		} */

		@media screen and (max-width: 1280px) {
			.spotlight .image {
				width: 45%;
			}
			.spotlight .content {
				width: 55%;
			}
		}

		@media screen and (max-width: 980px) {
			.spotlight {
				display: block;
			}
				.spotlight br {
					display: none;
				}

				.spotlight .image {
					width: 100%;
				}

				.spotlight .content {
					padding: 4em 3em 2em 3em ;
					max-width: none;
					text-align: center;
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			.spotlight .content {
				padding: 3em 2em 1em 2em ;
			}

		}