/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
@font-face {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;

	src: url('fonts/bpicons/bpicons.eot');
	src: url('fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
	url('fonts/bpicons/bpicons.woff') format('woff'),
	url('fonts/bpicons/bpicons.ttf') format('truetype'),
	url('fonts/bpicons/bpicons.svg#bpicons') format('svg');
} /* Made with http://icomoon.io/ */

/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}

body,
html {
	font-size: 100%;
	margin: 0;
	padding: 0;

}

/* Helper classes */
.cf:before,
.cf:after {
	content: ' ';
	display: table;
}

.cf:after {
	clear: both;
}

.hidden {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

/* Main styles */
body {
	
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/personal.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/personal.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/personal.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/personal.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;


    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #fff;
    text-align: center;
}

a {
	text-decoration: none;
	color: #f0f0f0;
	outline: none;
}

a:hover {
	color: #516977;
}

/* Blueprint header */
.bp-header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 6em 1.875em 1.875em;
	text-align: center;
}

.bp-header h1 {
	font-size: 2.125em;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 0 0.3em 0;
}

.bp-header > span {
	font-weight: 700;
	font-size: 0.85em;
	color: #5C5EDC;
	position: relative;
	z-index: 100;
	display: block;
	padding: 0 0 .6em .1em;
	letter-spacing: .5em;
	text-transform: uppercase;
	text-indent: 30px;
}

.bp-header > span span:after {
	font-size: 50%;
	font-size: 75%;
	position: relative;
	top: -8px;
	left: -12px;
	width: 30px;
	height: 30px;
}

.bp-header nav a {
	position: relative;
	display: inline-block;
	width: 2.3em;
	margin: 0.1em;
	text-align: center;
	border-radius: 50%;
	font-size: 1.4em;
}

@keyframes back-anim {
	from {transform: rotateZ(0deg);}
	to {transform: rotateZ(360deg);}
}
@keyframes cart-anim {
	from {transform:  rotateY(0deg);}
	to {transform: rotateY(360deg);}
}

.bp-header nav a:first-child:hover {
	animation-name: back-anim;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;



	color: #FF6D00;
	
}

.bp-header nav a:last-child:hover {
	animation-name: cart-anim;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;


	color: #FF6D00;
	
}

.bp-header .button-clear {
	background: transparent;
	width: 10em;
}

.bp-header .button-clear:hover {
	background: #5C5EDC;
}

.bp-header nav a > span {
	display: none;
	color: blue;
}

.bp-icon:after {
	font-family: 'bpicons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	text-transform: none;
	color: #5C5EDC;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.bp-header nav .bp-icon:after {
	line-height: 2.4;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: 0;
}

.bp-icon-about:after {
	content: '\e003';
}

.bp-icon-next:after {
	content: '\e000';
}

.bp-icon-drop:after {
	content: '\e001';
}

.bp-icon-archive:after {
	content: '\e002';
}

.bp-icon-prev:after {
	content: '\e004';
}


@media screen and (max-width: 40em) {
	.bp-header h1 {
		font-size: 1.8em;
	}
}