body {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/personal.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/personal.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/personal.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url("../../../images/personal.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;


    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

::-webkit-scrollbar { 
    display: none; 
}

::scrollbar { 
    display: none; 
}

.my-header {
    text-align: left;
    margin: auto;
    margin-bottom: 1em;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    padding-right: 4.5em;

}

    .my-header .titolo {
        margin: 0.3em;
        font-size: 3em;
        font-weight: 200;
        line-height: 30px;
        letter-spacing: 0.1em;
        width: 100%;
        overflow: scroll;
        white-space: nowrap;
    }

    @keyframes back-anim {
        from {transform: rotateZ(0deg);}
        to {transform: rotateZ(360deg);}
    }


    .my-header .titolo .icon {
        color:  rgba(255, 255, 255, 0.4);
    }

    .cart-moving {

         animation-name: back-anim;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-direction: alternate;
    }

main {
}

    main .admin-panels {
        margin: 0;
        padding: 0;
    }

    main .pannello-user {
        margin: 0;
        margin-bottom: 1em;
        overflow: hidden;
        background: #444;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        transition: background 0.2s ease-in-out;
        padding-bottom: 1em;
    }

    main .pannello-user .admin-input {
        text-align: center;
        padding-right: 30px;
    }
    main .pannello-user .admin-input button {
        margin-left: 1em;
    }

        main .pannello-user h2 {
            font-size: 2.5em;
            font-weight: 200;
            line-height: 30px;
            letter-spacing: 0.1em;
            width: 100%;
            padding-bottom: 0.3em;
            border-bottom-style: solid;
            border-bottom-color: rgba(255, 255, 255, 0.8);
            border-bottom-width: 1px;
        }

        main .pannello-user h3 {
            font-size: 2.5em;
            font-weight: 200;
            line-height: 30px;
            letter-spacing: 0.1em;
            width: 100%;
            padding-bottom: 0.3em;
            border-bottom-style: solid;
            border-bottom-color: rgba(255, 255, 255, 0.8);
            border-bottom-width: 1px;
        }

        main .pannello-user .costumer-order {
            width: 50%;
        }

        main .pannello-user .icon {
            color:  rgba(255, 255, 255, 0.4);
        }

        main .pannello-user .user-list {
            text-align: left;
            padding-top: 1em;
            padding-right: 2em;
            padding-left: 2em;
            color: white;
        }



            main .pannello-user .user-list li {
                font-size: 1.5em;
                font-weight: 100;
                line-height: 30px;
                letter-spacing: 0.1em;
                width: 100%;
                padding-bottom: 0.3em;
                border-bottom-style: solid;
                border-bottom-color: rgba(255, 255, 255, 0.2);
                border-bottom-width: 1px;
                margin-bottom: 1em;
                overflow: scroll;
                white-space: nowrap;
            }

        main .pannello-user .table-responsive {
            border-style: none;
        }

        main .pannello-user .table {
            margin-top: 2em;
        }

        main .pannello-user .table tr td {
            text-align: left;
            overflow: scroll;
            white-space: nowrap;
            max-width: 10em;
        }

        main .pannello-user .table tr th {
            border-top-style: none;
        }

        main .pannello-user select {
            margin: 40px;
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        }

        .delete-button-td {
            text-align: right !important;

        }

        main .pannello-modal {
            padding-bottom: 1em;
            padding-top: 1em;
        }

        main .pannello-modal button.btn {
            margin: 0;
            padding: 0 7px;
            vertical-align: middle;
            background: rgba(255, 255, 255, 0.2);
            border: 0;
            font-size: 2em;
            font-weight: 100;
            line-height: 1.5em;
            color: #fff;
            -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
            text-shadow: none;
            -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
            -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;

        }

        main .pannello-modal button.btn:hover {
            opacity: 0.6; color: #fff;
        }

        main .pannello-modal button.btn:active { outline: 0; opacity: 1; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

        main .pannello-modal button.btn:focus { outline: 0; opacity: 1; background: rgba(255, 255, 255, 0.2); color: #fff; }

        main .pannello-modal button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: r}


input[type="text"],
input[type="password"],
input[type="email"],
textarea,
textarea.form-control {
    margin: 0;
    padding-left: 10px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.2);
    border: 3px none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
textarea.form-control:focus {
    line-height: 30px;
    outline: 0;
    background: rgba(255, 255, 255, 0.3);
    border: 3px none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: rgba(255, 255, 255, 0.6); }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: rgba(255, 255, 255, 0.6); }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.6); }



button.btn {
    margin: 0;
    padding: 0 7px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.2);
    border: 0;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5em;
    color: #fff;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover {
    opacity: 0.6; color: #fff;
}

button.btn:active { outline: 0; opacity: 1; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

button.btn:focus { outline: 0; opacity: 1; background: rgba(255, 255, 255, 0.2); color: #fff; }

button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: rgba(255, 255, 255, 0.); color: #fff; }





